@model RallyBaneTest.ViewModels.TrackViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Bane Detaljer</h1>

<div>
    <h4>Bane</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Kategori
        </dt>
        <dd class = "col-sm-10">
            @Model.Categories.FirstOrDefault(c => c.CategoryId == @Model.Track.CategoryId)?.Name
        </dd>
        <dt class = "col-sm-2">
            Navn
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Track.Name)
        </dd>
        <dt class = "col-sm-2">
            Data
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Track.TrackData)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Track" asp-action="Edit" asp-route-id="@Model.Track.TrackId">Redigér bane</a> |
    <a asp-action="Index">Gemte baner</a>
</div>
